<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Кинопоиск. Онлайн кинотеатр</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="categories">
                <h3>Жанры</h3>
                <%
                    genres.forEach(genre => {
                %>
                    <a href=""><%=genre.name%></a>
                <%
                    })
                %>
            </div>
            <div class="main-content">
                <h3>Профиль</h3>
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/profile-img.jpg" alt="">
                    </div>
                    <div class="profile-info">
                        <p><span>Полное имя: </span> <%=user.full_name%> </p>
                        <p><span>E-mail: </span> <%=user.email%> </p>
                        <a class="edit-btn">Редактировать профиль</a>
                        <a href="/api/signout" class="logout-btn">Выход</a>
                    </div>
                </div>
                <h3>Фильмы</h3>
                <a href="/new" class="add-btn">Добавить фильм</a>
                <div class="main-card">
                    <div class="card-left">
                        <div class="film-img">
                            <img src="/images/films/film1.webp" alt="">
                        </div>
                        <div class="film-info">
                            <a href="">Все везде и сразу</a>
                            <a href="">Everything Everywhere All at Once, 2021, 139 мин.</a>
                            <a href="">США, Фантастика</a>
                            <button class="film-btn">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="film-rate">
                            <p>7.3</p>
                        </div>
                        <div class="film-btns">
                            <a href="/edit">Редактировать профиль</a>
                            <a href="">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>